.sortHeaderMain {
    margin-left: 4%;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    margin-top: 9%;
    .main {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .sortHeaderMain {
        display: none;
    }
}
