.mainSortButtonMain {
    .searchButton {
        background: #3498db;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s;
    }
    .searchButton:hover {
        scale: 1.05;
    }
}